* {
  margin: 0;
}

body {
  background-color: white;
  color: black;
}

header {
  background-color: green;
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

header h1 {
  font-size: 2rem;
}

main {
  max-width: 800px;
  margin: 30px auto;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}

main h2 {
  color: green;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 15px;
  font-size: 1rem;
}

main img {
  width: 300px;
  border: 2px;
  color: green;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  background-color:green
  color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 1rem;
}